<div class="span5">
  <div class="well sidebar-nav">
    <h3>Search</h3>
    <%= form_tag(filterd_by_date_patients_path,{:method => :get}) do %>
      

      <% @report_filters.reverse!.each_with_index do |rf, index| %>
        <div class='form-group'>
          <label class="" ><%= rf.field_name.titlecase %> : </label>
          <%= text_field_tag rf.field_name, params[rf.field_name], id: "datepicker#{index}", placeholder: rf.field_name%>
        </div>
      <% end %>

      <%= button_tag 'Reset', type: 'reset', class: 'btn btn-danger m_bottom10'%>
      <%= submit_tag 'Get Data', class: 'btn btn-primary m_bottom10'%> 
    <% end %>
  </div>
</div>



<div class="row">
  <div class="span9">
  <div class"span4">
  
<%if @show_import%>
  <%= form_tag(generate_pdf_patients_path,{:method => :get}) do %>
    <%= select_tag "import_to", options_for_select([["Select" , "" ]] + ['pdf', 'csv','excel', 'json']), :class => 'margin-left_for_select' %>
    <%= submit_tag 'Export', class: 'btn btn-danger m_bottom10 pull-right'%> 
  <% end %>

  <div class="pull-right margin_top">
    <span class="date_font_size">From: <%= params[:FromDate]%></span><br>
    <span class="date_font_size">To: <%= params[:ToDate]%></span>
  </div>
<%end%>


  <hr>
<%# query = @template.report_masters.first.report_sql.sql_query%>
<%# header = @report.report_template_masters.first.report_header%>

<div>
  <div style="<%#=header.main_header_style%>"><%#=header.main_header%></div><br>
  <!-- <span style="font-size:20px;font-weight:bold"><%#=header.header1%></span><br> -->
  <div style="font-size:17px;font-weight:bold"><%#=header.header2%></div><br>
  <div style="<%#= header.header3_style%>"><%#=header.header3%></div>
</div>
<br>
<table class="table table-striped">
  <thead style="<%#=header.table_header_style%>">
    <tr>
      <%# @report.report_template_masters.first.report_datas.order("id asc").map(&:column_name).each do |header|%>
      <th><%#= header.capitalize%></th>
      <%#end%>
    </tr>
  </thead>
  <tbody>
     <%@calls.each do |call|%> 
      <tr>
        <td><%= call.callerid %></td>
        <td><%= call.patient.firstname %></td>
        <td><%= call.patient.dob.strftime("%m/%d/%Y") %></td>
        <td><%= call.call_received_at.strftime("%m/%d/%Y %r") %></td>
        <td><%= call.calltype %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<script>

$( document ).ready(function() {
  $( "#datepicker0" ).datepicker({ dateFormat: 'mm-dd-yy' }).val();
  $( "#datepicker1" ).datepicker({ dateFormat: 'mm-dd-yy' }).val();
});
</script>