
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>

<!-- <form action="<%= patients_path%>">
  <%#= select_tag "gender", options_for_select([["Select" , "" ]] + ['Male', 'Female']) %>
  <button class="btn btn-primary">Get Data</button>
</form> -->
<!-- <hr> -->


<form action="<%= filterd_by_date_patients_path%>">
  <input type="text" name="from" id="datepicker1" placeholder="From Date">
  <input type="text" name="till" id="datepicker" placeholder="To Date">
  <button class="btn btn-primary m_bottom10">Get Data</button>
</form>


<form class="">
  <label>Select a formate to Import</label>
  <%= select_tag "import_to", options_for_select([["Select" , "" ]] + ['pdf', 'csv','excel', 'json']) %>
  <button class="btn btn-success m_bottom10">Import</button>
</form>



<script>
$(function() {
$( "#datepicker1" ).datepicker({ dateFormat: 'mm-dd-yy' }).val();
$( "#datepicker" ).datepicker({ dateFormat: 'mm-dd-yy' }).val();
});
</script>



<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:firstname) %></th>
      <th><%= model_class.human_attribute_name(:lastname) %></th>
      <th><%= model_class.human_attribute_name(:dob) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.id, patient_path(patient) %></td>
        <td><%= patient.firstname %></td>
        <td><%= patient.lastname %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.gender %></td>
        <td><%=l patient.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_patient_path(patient), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      patient_path(patient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_patient_path,
            :class => 'btn btn-primary' %>
